.container {
    height: 6vw;
    width: 100%;
    background: var(--beige);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10vh;
}

.allFilter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5vw;
}

.icon {
    height: 5vh;
    width: 5vh;
}

.container .active {
    background: var(--ghost-white);
    border-bottom: .3vw solid  var(--yale-Blue);
    height: 6vw;
    display: flex;
    justify-content: center;
    margin-top: 0;
  }