.container {
    background-color: var(--yale-Blue);
    height: 5vw;
    width: 100%;
    display: flex;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
    line-height: 0.9;
}

.h1 {
    color: var(--naples-yellow);
    font-size: 2vw;
}

.h2, .h3 {
    color: var(--snow-white);
    font-size: 1vw;
    font-weight: 400;
}

.h2 {
    margin-top: 0;
    font-size: 1.3vw;
    font-weight: 800;
}

.upside {
    display: flex;
    flex-direction: row;
    align-items: end;
}