.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15vh;
    width: 50%;
    background-color: var(--beige);
    gap: 1vh;
}

.select {
    width: 15%;
    display: flex;
    align-items: center;
}