.container {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.containerRow {
    display: flex;
    flex-direction: row;
}

.graph {
    box-sizing: border-box;
    width: 50%;
}

.bar {
    height: 5px;
    width: 100%;
    background: var(--beige);
}