@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swa');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a{
  color: inherit;
  text-decoration: none;
}

:root {
  --yale-Blue: #083D77;
  --beige: #EBEBD3;
  --naples-yellow: #F4D35E;
  --sand-brown: #EE964B;
  --tomato: #F95738;
  --snow-white: #F9F9F9;
}

