.formSelect{
    background: white;
    height: 2.1vw;
    width: 15%;
}

.inputLabel {
    margin-top: -0.8vw;
    font-size: 0.7vw;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}